In [26]:
import pandas as pd
import os
import matplotlib.pyplot as plt
os.chdir ("C:\\Users\\Hp\\Desktop\\Chaimae\\stage\\PFE\\Dataset\\clean_data")
cwd=os.getcwd()
print(cwd)
df=pd.read_excel('echantillon.xlsx')

C:\Users\Hp\Desktop\Chaimae\stage\PFE\Dataset\clean_data

In [27]:
df

,Id_User,ID_trajet,Ville de depart,Latitude,Longitude,Ville d'arriv√©e,Latitude.1,Longitude.1,Distance,prix,...,Year_arr,Month_arr,day_arr,weekday_name_arr,minute_arr,Hour_arr,hour_duree,minute_duree,nombre_place,Moyen_de_transport
0,74517,1,RABAT,34.022405,-6.834543,CASABLANCA,33.595063,-7.618777,92.718000,18.54360,...,2018,7,31,Tuesday,31,21,1,7,4,Voiture
1,90486,2,CASABLANCA,33.595063,-7.618777,TAZA,34.230155,-4.010104,403.209999,80.64200,...,2018,4,29,Sunday,12,11,3,50,2,Voiture
2,69046,3,KHENIFRA,32.935772,-5.669650,AGADIR,30.422037,-9.559509,649.335999,194.80080,...,2018,7,15,Sunday,24,6,19,29,35,autocar
3,86417,4,RABAT,34.022405,-6.834543,TETOUAN,35.570175,-5.374278,270.819000,81.24570,...,2018,12,5,Wednesday,0,6,9,33,20,autocar
4,79358,5,OUARZAZATE,30.920193,-6.910923,TEMARA,33.917166,-6.923804,509.914999,142.77620,...,2018,5,23,Wednesday,30,15,5,39,4,Voiture
5,88786,6,ESSAOUIRA,31.511828,-9.762090,TAZA,34.230155,-4.010104,770.075000,192.51875,...,2018,8,14,Tuesday,24,11,7,28,1,Voiture
6,95432,7,OUEZZANE,34.796757,-5.578493,TETOUAN,35.570175,-5.374278,127.446999,35.68516,...,2019,3,2,Saturday,0,13,1,57,1,Voiture
7,73903,8,OUARZAZATE,30.920193,-6.910923,BENI MELLAL,32.334193,-6.353335,299.233000,83.78524,...,2019,1,24,Thursday,38,15,4,34,3,Voiture
8,98425,9,CASABLANCA,33.595063,-7.618777,OUARZAZATE,30.920193,-6.910923,437.146000,196.71570,...,2018,4,3,Tuesday,37,17,10,22,15,CTM
9,93117,10,OUARZAZATE,30.920193,-6.910923,BENI MELLAL,32.334193,-6.353335,299.233000,134.65485,...,2018,6,8,Friday,44,23,9,8,16,CTM
10,96719,11,BERRECHID,33.267675,-7.581147,ERRACHIDIA,31.929089,-4.434081,591.270000,266.07150,...,2018,4,27,Friday,49,19,14,13,7,CTM
11,73280,12,ELJADIDA,36.860370,6.925006,OUJDA,34.677874,-1.929306,710.254000,142.05080,...,2018,12,22,Saturday,21,13,6,26,2,Voiture
12,80519,13,MOHAMMADIA,33.695838,-7.389329,OUARZAZATE,30.920193,-6.910923,459.326000,137.79780,...,2019,3,23,Saturday,17,14,15,45,30,autocar

In [30]:
df['securite']=''
l=[0,1,2,3,4,5,22,23]
from random import randint
for index,row in df.iterrows():
    if (df['Hour_dep'].iloc[index] or df['Hour_arr'].iloc[index] ) in l:
        df['securite'].iloc[index]=0
    else:
        df['securite'].iloc[index]=1

In [31]:
df

,Id_User,ID_trajet,Ville de depart,Latitude,Longitude,Ville d'arriv√©e,Latitude.1,Longitude.1,Distance,prix,...,day_arr,weekday_name_arr,minute_arr,Hour_arr,hour_duree,minute_duree,nombre_place,Moyen_de_transport,traffic,securite
0,74517,1,RABAT,34.022405,-6.834543,CASABLANCA,33.595063,-7.618777,92.718000,18.54360,...,31,Tuesday,31,21,1,7,4,Voiture,1,1
1,90486,2,CASABLANCA,33.595063,-7.618777,TAZA,34.230155,-4.010104,403.209999,80.64200,...,29,Sunday,12,11,3,50,2,Voiture,2,1
2,69046,3,KHENIFRA,32.935772,-5.669650,AGADIR,30.422037,-9.559509,649.335999,194.80080,...,15,Sunday,24,6,19,29,35,autocar,1,1
3,86417,4,RABAT,34.022405,-6.834543,TETOUAN,35.570175,-5.374278,270.819000,81.24570,...,5,Wednesday,0,6,9,33,20,autocar,1,1
4,79358,5,OUARZAZATE,30.920193,-6.910923,TEMARA,33.917166,-6.923804,509.914999,142.77620,...,23,Wednesday,30,15,5,39,4,Voiture,1,1
5,88786,6,ESSAOUIRA,31.511828,-9.762090,TAZA,34.230155,-4.010104,770.075000,192.51875,...,14,Tuesday,24,11,7,28,1,Voiture,0,1
6,95432,7,OUEZZANE,34.796757,-5.578493,TETOUAN,35.570175,-5.374278,127.446999,35.68516,...,2,Saturday,0,13,1,57,1,Voiture,1,1
7,73903,8,OUARZAZATE,30.920193,-6.910923,BENI MELLAL,32.334193,-6.353335,299.233000,83.78524,...,24,Thursday,38,15,4,34,3,Voiture,1,1
8,98425,9,CASABLANCA,33.595063,-7.618777,OUARZAZATE,30.920193,-6.910923,437.146000,196.71570,...,3,Tuesday,37,17,10,22,15,CTM,1,1
9,93117,10,OUARZAZATE,30.920193,-6.910923,BENI MELLAL,32.334193,-6.353335,299.233000,134.65485,...,8,Friday,44,23,9,8,16,CTM,1,0
10,96719,11,BERRECHID,33.267675,-7.581147,ERRACHIDIA,31.929089,-4.434081,591.270000,266.07150,...,27,Friday,49,19,14,13,7,CTM,1,1
11,73280,12,ELJADIDA,36.860370,6.925006,OUJDA,34.677874,-1.929306,710.254000,142.05080,...,22,Saturday,21,13,6,26,2,Voiture,1,1
12,80519,13,MOHAMMADIA,33.695838,-7.389329,OUARZAZATE,30.920193,-6.910923,459.326000,137.79780,...,23,Saturday,17,14,15,45,30,autocar,1,1

In [28]:
df['traffic']=''
l=['Friday','Saturday','Sunday']
l1=['RABAT','CASABLANCA','KENITRA','MEKNES','FES']
from random import randint
for index,row in df.iterrows():
    if (df['Ville de depart'].iloc[index] in l1 and df['weekday_name_dep'].iloc[index] in l):
        df['traffic'].iloc[index]=2
    elif(df['Ville de depart'].iloc[index] in l1 or df['weekday_name_dep'].iloc[index] in l):
        df['traffic'].iloc[index]=1
    elif(df['Distance'].iloc[index] < 100) :
        df['traffic'].iloc[index]=1
    else:
        df['traffic'].iloc[index]=randint(0,1)

In [29]:
df

,Id_User,ID_trajet,Ville de depart,Latitude,Longitude,Ville d'arriv√©e,Latitude.1,Longitude.1,Distance,prix,...,Month_arr,day_arr,weekday_name_arr,minute_arr,Hour_arr,hour_duree,minute_duree,nombre_place,Moyen_de_transport,traffic
0,74517,1,RABAT,34.022405,-6.834543,CASABLANCA,33.595063,-7.618777,92.718000,18.54360,...,7,31,Tuesday,31,21,1,7,4,Voiture,1
1,90486,2,CASABLANCA,33.595063,-7.618777,TAZA,34.230155,-4.010104,403.209999,80.64200,...,4,29,Sunday,12,11,3,50,2,Voiture,2
2,69046,3,KHENIFRA,32.935772,-5.669650,AGADIR,30.422037,-9.559509,649.335999,194.80080,...,7,15,Sunday,24,6,19,29,35,autocar,1
3,86417,4,RABAT,34.022405,-6.834543,TETOUAN,35.570175,-5.374278,270.819000,81.24570,...,12,5,Wednesday,0,6,9,33,20,autocar,1
4,79358,5,OUARZAZATE,30.920193,-6.910923,TEMARA,33.917166,-6.923804,509.914999,142.77620,...,5,23,Wednesday,30,15,5,39,4,Voiture,1
5,88786,6,ESSAOUIRA,31.511828,-9.762090,TAZA,34.230155,-4.010104,770.075000,192.51875,...,8,14,Tuesday,24,11,7,28,1,Voiture,0
6,95432,7,OUEZZANE,34.796757,-5.578493,TETOUAN,35.570175,-5.374278,127.446999,35.68516,...,3,2,Saturday,0,13,1,57,1,Voiture,1
7,73903,8,OUARZAZATE,30.920193,-6.910923,BENI MELLAL,32.334193,-6.353335,299.233000,83.78524,...,1,24,Thursday,38,15,4,34,3,Voiture,1
8,98425,9,CASABLANCA,33.595063,-7.618777,OUARZAZATE,30.920193,-6.910923,437.146000,196.71570,...,4,3,Tuesday,37,17,10,22,15,CTM,1
9,93117,10,OUARZAZATE,30.920193,-6.910923,BENI MELLAL,32.334193,-6.353335,299.233000,134.65485,...,6,8,Friday,44,23,9,8,16,CTM,1
10,96719,11,BERRECHID,33.267675,-7.581147,ERRACHIDIA,31.929089,-4.434081,591.270000,266.07150,...,4,27,Friday,49,19,14,13,7,CTM,1
11,73280,12,ELJADIDA,36.860370,6.925006,OUJDA,34.677874,-1.929306,710.254000,142.05080,...,12,22,Saturday,21,13,6,26,2,Voiture,1
12,80519,13,MOHAMMADIA,33.695838,-7.389329,OUARZAZATE,30.920193,-6.910923,459.326000,137.79780,...,3,23,Saturday,17,14,15,45,30,autocar,1

In [32]:
df['accident']=''
l=['Friday','Saturday','Sunday']
from random import randint
for index,row in df.iterrows():
    if (df['traffic'].iloc[index]==2 and df['weekday_name_dep'].iloc[index] in l and df['Distance'].iloc[index] < 100):
        df['accident'].iloc[index]=1
    elif(df['traffic'].iloc[index]==2 and df['weekday_name_dep'].iloc[index] in l and df['Distance'].iloc[index] > 100):
        df['accident'].iloc[index]=1
    elif(df['traffic'].iloc[index]==0 and df['Distance'].iloc[index] < 100):
        df['accident'].iloc[index]=0
    elif(df['traffic'].iloc[index]==0 and df['Distance'].iloc[index] >100):
        df['accident'].iloc[index]=1
    elif(df['traffic'].iloc[index]==1 and df['weekday_name_dep'].iloc[index] in l and df['Distance'].iloc[index] < 100):
        df['accident'].iloc[index]=0
    elif(df['traffic'].iloc[index]==1 and df['Distance'].iloc[index] >100):
        df['accident'].iloc[index]=1
    else:
        df['accident'].iloc[index]=0

In [33]:
df.head()

,Id_User,ID_trajet,Ville de depart,Latitude,Longitude,Ville d'arriv√©e,Latitude.1,Longitude.1,Distance,prix,...,weekday_name_arr,minute_arr,Hour_arr,hour_duree,minute_duree,nombre_place,Moyen_de_transport,traffic,securite,accident
0,74517,1,RABAT,34.022405,-6.834543,CASABLANCA,33.595063,-7.618777,92.718000,18.5436,...,Tuesday,31,21,1,7,4,Voiture,1,1,0
1,90486,2,CASABLANCA,33.595063,-7.618777,TAZA,34.230155,-4.010104,403.209999,80.6420,...,Sunday,12,11,3,50,2,Voiture,2,1,1
2,69046,3,KHENIFRA,32.935772,-5.669650,AGADIR,30.422037,-9.559509,649.335999,194.8008,...,Sunday,24,6,19,29,35,autocar,1,1,0
3,86417,4,RABAT,34.022405,-6.834543,TETOUAN,35.570175,-5.374278,270.819000,81.2457,...,Wednesday,0,6,9,33,20,autocar,1,1,0
4,79358,5,OUARZAZATE,30.920193,-6.910923,TEMARA,33.917166,-6.923804,509.914999,142.7762,...,Wednesday,30,15,5,39,4,Voiture,1,1,0

In [34]:
df['retard']=''
l=['autocar']
from random import randint
for index,row in df.iterrows():
    if (df['traffic'].iloc[index]==2 or df['Moyen_de_transport'].iloc[index] in l or df['accident'].iloc[index]==1):
        df['retard'].iloc[index]=1
    else:
        df['retard'].iloc[index]=0

In [47]:
df['rating']=''
for index,row in df.iterrows():
    if (df['traffic'].iloc[index]==0 and df['securite'].iloc[index]==0 and df['accident'].iloc[index]==0 and df['retard'].iloc[index]==0):
        df['rating'].iloc[index]=3
    elif (df['traffic'].iloc[index]==0 and df['securite'].iloc[index]==0 and df['accident'].iloc[index]==0 and df['retard'].iloc[index]==1):
        df['rating'].iloc[index]=2
    elif (df['traffic'].iloc[index]==0 and df['securite'].iloc[index]==0 and df['accident'].iloc[index]==1 and df['retard'].iloc[index]==0):
        df['rating'].iloc[index]=2
    elif (df['traffic'].iloc[index]==0 and df['securite'].iloc[index]==0 and df['accident'].iloc[index]==1 and df['retard'].iloc[index]==1):
        df['rating'].iloc[index]=1
    elif (df['traffic'].iloc[index]==0 and df['securite'].iloc[index]==1 and df['accident'].iloc[index]==0 and df['retard'].iloc[index]==0):
        df['rating'].iloc[index]=6
    elif (df['traffic'].iloc[index]==0 and df['securite'].iloc[index]==1 and df['accident'].iloc[index]==0 and df['retard'].iloc[index]==1):
        df['rating'].iloc[index]=4
    elif (df['traffic'].iloc[index]==0 and df['securite'].iloc[index]==1 and df['accident'].iloc[index]==1 and df['retard'].iloc[index]==0):
        df['rating'].iloc[index]=3
    elif (df['traffic'].iloc[index]==0 and df['securite'].iloc[index]==1 and df['accident'].iloc[index]==1 and df['retard'].iloc[index]==1):
        df['rating'].iloc[index]=2
    elif (df['traffic'].iloc[index]==1 and df['securite'].iloc[index]==0 and df['accident'].iloc[index]==0 and df['retard'].iloc[index]==0):
        df['rating'].iloc[index]=3
    elif (df['traffic'].iloc[index]==1 and df['securite'].iloc[index]==0 and df['accident'].iloc[index]==0 and df['retard'].iloc[index]==1):
        df['rating'].iloc[index]=2
    elif (df['traffic'].iloc[index]==1 and df['securite'].iloc[index]==0 and df['accident'].iloc[index]==1 and df['retard'].iloc[index]==0):
        df['rating'].iloc[index]=1
    elif (df['traffic'].iloc[index]==1 and df['securite'].iloc[index]==0 and df['accident'].iloc[index]==1 and df['retard'].iloc[index]==1):
        df['rating'].iloc[index]=0
    elif (df['traffic'].iloc[index]==1 and df['securite'].iloc[index]==1 and df['accident'].iloc[index]==0 and df['retard'].iloc[index]==0):
        df['rating'].iloc[index]=5
    elif (df['traffic'].iloc[index]==1 and df['securite'].iloc[index]==1 and df['accident'].iloc[index]==0 and df['retard'].iloc[index]==1):
        df['rating'].iloc[index]=3
    elif (df['traffic'].iloc[index]==1 and df['securite'].iloc[index]==1 and df['accident'].iloc[index]==1 and df['retard'].iloc[index]==0):
        df['rating'].iloc[index]=3
    elif (df['traffic'].iloc[index]==1 and df['securite'].iloc[index]==1 and df['accident'].iloc[index]==1 and df['retard'].iloc[index]==1):
        df['rating'].iloc[index]=2
    elif (df['traffic'].iloc[index]==2 and df['securite'].iloc[index]==1 and df['accident'].iloc[index]==1 and df['retard'].iloc[index]==1):
        df['rating'].iloc[index]=1
    elif (df['traffic'].iloc[index]==2 and df['securite'].iloc[index]==0 and df['accident'].iloc[index]==0 and df['retard'].iloc[index]==0):
        df['rating'].iloc[index]=2
    elif (df['traffic'].iloc[index]==2 and df['securite'].iloc[index]==0 and df['accident'].iloc[index]==0 and df['retard'].iloc[index]==1):
        df['rating'].iloc[index]=1
    elif (df['traffic'].iloc[index]==2 and df['securite'].iloc[index]==0 and df['accident'].iloc[index]==1 and df['retard'].iloc[index]==0):
        df['rating'].iloc[index]=1
    elif (df['traffic'].iloc[index]==2 and df['securite'].iloc[index]==0 and df['accident'].iloc[index]==1 and df['retard'].iloc[index]==1):
        df['rating'].iloc[index]=0
    elif (df['traffic'].iloc[index]==2 and df['securite'].iloc[index]==1 and df['accident'].iloc[index]==0 and df['retard'].iloc[index]==0):
        df['rating'].iloc[index]=4
    elif (df['traffic'].iloc[index]==2 and df['securite'].iloc[index]==1 and df['accident'].iloc[index]==0 and df['retard'].iloc[index]==1):
        df['rating'].iloc[index]=3
    elif (df['traffic'].iloc[index]==2 and df['securite'].iloc[index]==1 and df['accident'].iloc[index]==1 and df['retard'].iloc[index]==0):
        df['rating'].iloc[index]=2
    else:
        print('Null')

In [48]:
df

,Id_User,ID_trajet,Ville de depart,Latitude,Longitude,Ville d'arriv√©e,Latitude.1,Longitude.1,Distance,prix,...,Hour_arr,hour_duree,minute_duree,nombre_place,Moyen_de_transport,traffic,securite,accident,retard,rating
0,74517,1,RABAT,34.022405,-6.834543,CASABLANCA,33.595063,-7.618777,92.718000,18.54360,...,21,1,7,4,Voiture,1,1,0,0,5
1,90486,2,CASABLANCA,33.595063,-7.618777,TAZA,34.230155,-4.010104,403.209999,80.64200,...,11,3,50,2,Voiture,2,1,1,1,1
2,69046,3,KHENIFRA,32.935772,-5.669650,AGADIR,30.422037,-9.559509,649.335999,194.80080,...,6,19,29,35,autocar,1,1,0,1,3
3,86417,4,RABAT,34.022405,-6.834543,TETOUAN,35.570175,-5.374278,270.819000,81.24570,...,6,9,33,20,autocar,1,1,0,1,3
4,79358,5,OUARZAZATE,30.920193,-6.910923,TEMARA,33.917166,-6.923804,509.914999,142.77620,...,15,5,39,4,Voiture,1,1,0,0,5
5,88786,6,ESSAOUIRA,31.511828,-9.762090,TAZA,34.230155,-4.010104,770.075000,192.51875,...,11,7,28,1,Voiture,0,1,1,1,2
6,95432,7,OUEZZANE,34.796757,-5.578493,TETOUAN,35.570175,-5.374278,127.446999,35.68516,...,13,1,57,1,Voiture,1,1,0,0,5
7,73903,8,OUARZAZATE,30.920193,-6.910923,BENI MELLAL,32.334193,-6.353335,299.233000,83.78524,...,15,4,34,3,Voiture,1,1,0,0,5
8,98425,9,CASABLANCA,33.595063,-7.618777,OUARZAZATE,30.920193,-6.910923,437.146000,196.71570,...,17,10,22,15,CTM,1,1,0,0,5
9,93117,10,OUARZAZATE,30.920193,-6.910923,BENI MELLAL,32.334193,-6.353335,299.233000,134.65485,...,23,9,8,16,CTM,1,0,0,0,3
10,96719,11,BERRECHID,33.267675,-7.581147,ERRACHIDIA,31.929089,-4.434081,591.270000,266.07150,...,19,14,13,7,CTM,1,1,0,0,5
11,73280,12,ELJADIDA,36.860370,6.925006,OUJDA,34.677874,-1.929306,710.254000,142.05080,...,13,6,26,2,Voiture,1,1,0,0,5
12,80519,13,MOHAMMADIA,33.695838,-7.389329,OUARZAZATE,30.920193,-6.910923,459.326000,137.79780,...,14,15,45,30,autocar,1,1,0,1,3